---
import BaseLayout from '../layouts/BaseLayout.astro';
import Wrapper from '../components/Wrapper.astro';
import '../../public/style/index.css';

let title = 'Ambassy Influencer Management';
let description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://example.com/';
---


<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
  <Wrapper>
    
    <section class="home-hero__section">
      <div class="home-hero__container">
        <h1>Welcome to Ambassy</h1>
        <p>Manage your Ambassadors seamlessly</p>
      </div>
    </section>

    <!-- <section class="home-cards__section">
      <div class="home-cards__container">
        <div class="home-cards__card">
          <h2>Manage your ambassadors</h2>
        </div>
        <div class="home-cards__card">
          <h2>Manage your ambassadors</h2>
        </div>
        <div class="home-cards__card">
          <h2>Manage your ambassadors</h2>
        </div>
        <div class="home-cards__card">
          <h2>Manage your ambassadors</h2>
        </div>
      </div>
    </section> -->
  </Wrapper>
</BaseLayout>